.FooterStyled {
  border: solid 1px black;
  background-color: #0E6029;
  padding: 10px;
  
  left: 0px;
  height: 100px;
  width: auto;
}

.FooterH4Styled {
  border: solid 1px black;
  padding: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight:200;
  font-size: 15px;
  color: #e5ffee;
}
